[buildout]
index = http://packages.lizardsystem.nl
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
find-links =
unzip = true
prefer-final = true
versions = versions
extensions =
    mr.developer
    buildout-versions
parts =
    sysegg
    mkdir
    django
    omelette
    console_scripts
    pyflakes
    sphinx
develop = .
eggs =
    lizard-area

# auto-checkout =
#     lizard-geo

[versions]
# Specific pins. We inherit lots of pins from the KGS, so if you add a
# development egg, you really need to un-pin it here.
lizard-area =
lizard-map = 3.2
lizard-geo = 0.1
lizard-measure = 1.5.8

# Reported by buildout-versions
PIL = 1.1.7
Werkzeug = 0.8.2
amqplib = 1.0.2
anyjson = 0.3.1
celery = 2.4.6
django-celery = 2.4.2
django-picklefield = 0.1.9
django-tls = 0.0.2
kombu = 2.0.0
lizard-security = 0.4
mock = 0.7.2
ordereddict = 1.1
python-dateutil = 1.5



[sources]
# Examples:
# lizard-geo = git git@github.com:lizardsystem/lizard-geo.git
# lizard-ui = svn https://office.nelen-schuurmans.nl/svn/Products/djangoapps/lizard-ui/trunk


[sysegg]
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    psycopg2
#    PIL
    matplotlib
#    pyproj


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log
    ${buildout:directory}/var/sqlite


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_area
projectegg = lizard_area
settings = testsettings
test = lizard_area
eggs = lizard-area


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    createcoverage
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
