{# Screen with category triee and workspaces on the left and map on the right. #}
{% extends "lizard_map/wms.html" %}
{% load workspaces %}
{% load utility %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched automatic-tree filetree pane">
  <h2>Categories</h2>
  <ul>
    {% for category in view.categories %}
    <li class="workspace-acceptable file"
        data-name="{{ category.name }}"
        data-adapter-class="adapter_area"
        data-adapter-layer-json='{"category_slug":"{{ category.slug }}"}'
        >
      {{ category.name }}
    </li>
    {% empty %}
    <li>Geen categorieen beschikbaar.</li>
    {% endfor %}
  </ul>
</div>

{% workspace_edit view.workspace_edit %}
{% collage_edit view.collage_edit %}

{% endblock %}
